.AddAlert-container {
  height: 100%;
  width: 100%;
}

.AddAlert-container form {
  display: flex;
  flex-direction: column;
}

.AddAlert-input-container {
  display: flex;
}

.AddAlert-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
