.Status-container {
  width: 100%;
  box-sizing: border-box;
  background-color: #2B2B2B;
  padding: 10px;
  color: white;
}

.Status-header {
  display: flex;
  justify-content: space-between;
}

.Status-header h3 {
  margin: 0;
  vertical-align: bottom;
}

.Status-diff {
  color: yellow;
}

.Status-location {
  color: red;
}

.Status-btn {
  min-width: 160px;
  border: 1px solid #BEC2BE;
  padding: 12px 6px;
  background-color: #E9EDE9;
  border-radius: 5px;
  line-height: 75%;
  font-size: 1em;
  font-family: 'Bree Serif';
  color: #1BCC36;
  text-decoration: none;
}

.Status-btn:hover {
  background-color: #1BCC36;
  border: 1px solid #1BCC36;
  color: white;
  cursor: pointer;
}

.Status-btn:focus {
  outline: 0;
}

.Status-btn-inactive {
  color: #AAB5BA;
}

.Status-btn-inactive:hover {
  color: #AAB5BA;
  background-color: #E9EDE9;
  border: 1px solid #BEC2BE;
}
