.ReportInfo-container {
  width: 100%;
  border: 1px solid #2B2B2B;
  border-radius: 3px;
  background-color: white;
}

.ReportInfo-header {
  width: 100%;
  box-sizing: border-box;
  background-color: #2B2B2B;
  padding: 15px 10px;
  border-bottom: 1px solid #D9D6D5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReportInfo-header h3 {
  color: white;
  font-weight: 700;
}

.ReportInfo-indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.ReportInfo-body-container {
  width: 100%;
  padding: 10px;
  box-sizing:   border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.ReportInfo-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ReportInfo-stat {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
