.OffenseTypeFilter-container {
  width: 100%;
  border: 1px solid #D9D6D5;
  border-radius: 3px;
}

.OffenseTypeFilter-header {
  background-color: #B0AEAD;
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px solid #D9D6D5;
}

.OffenseTypeFilter-container h3 {
  margin: 0;
}

.OffenseTypeFilter-btns {
  padding: 10px;
}

.OffenseTypeFilter-btn-pressed {
  opacity: 0.5;
}

.OffenseTypeFilter-btn {
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border: 1px solid #BEC2BE;
  padding: 10px 6px;
  background-color: #E9EDE9;
  border-radius: 5px;
  line-height: 75%;
  font-size: 1em;
  font-family: 'Bree Serif';
}

.OffenseTypeFilter-btn:hover {
  color: white;
  cursor: pointer;
}

.OffenseTypeFilter-btn:focus {
  outline: 0;
}
