.AddLocation-container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.AddLocation-container h3 {
  font-family: 'Bree Serif';
  font-size: 1.25em;
}

.AddLocation-container form {
  display: flex;
  flex-direction: column;
}

.AddLocation-input-container {
  display: flex;
}

.AddLocation-input {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.AddLocation-input label {
  font-family: 'Bree Serif';
  font-size: 1em;
}

.AddLocation-btn {
  width: 35%;
  min-width: 160px;
  margin: 0 auto;
  margin-top: 2.5%;
  border: 1px solid #BEC2BE;
  padding: 20px 12px;
  background-color: #E9EDE9;
  border-radius: 5px;
  line-height: 75%;
  font-size: 1.25em;
  font-family: 'Bree Serif';
  color: #22FF44;
}

.AddLocation-btn:hover {
  background-color: #22FF44;
  color: white;
  cursor: pointer;
}

/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  text-align: left;
}
.geosuggest__input, .location-input {
  margin-top: 2%;
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  font-family: Helvetica;
  border: 2px solid transparent;
  box-sizing: border-box;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
