@import url('https://fonts.googleapis.com/css?family=Nobile');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.Alerts-container {
  display: flex;
  align-items: flex-start;
}

.Alerts-wrapper {
  width: 100%;
}

.Alerts-location-container {
  border: 1px solid black;
  margin-left: 2.5%;
  margin-right: 1%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.Alerts-location {
  display: flex;
  justify-content: space-between;
}

.Alerts-location-data {
  padding: 5px;
}

.Alerts-list-container {
  border: 1px solid black;
  margin-left: 1%;
  margin-right: 2.5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
