.LocationSummary-container {
  width: 100%;
  border: 1px solid #2B2B2B;
  border-radius: 3px;
  background-color: white;
}

.LocationSummary-container h4, .LocationSummary-container h5 {
  margin: 0;
}

.LocationSummary-header {
  background-color: #2B2B2B;
  padding: 15px 5px;
  padding-left: 10px;
  border-bottom: 1px solid #D9D6D5;
}

.LocationSummary-header h3 {
  color: white;
  font-weight: 700;
  margin: 0;
}

.LocationSummary-stats-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100px;
}

.LocationSummary-stats-container h5, .LocationSummary-stats-container p {
  margin: 0;
}

.LocationSummary-stats-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LocationSummary-stats-header h4 {
  margin: 0;
  font-size: 1.4em;
  font-family: 'News Cycle';
  font-weight: 700;
}

.LocationSummary-stats {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.LocationSummary-single-stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 175px;
  background-color: white;
}

.LocationSummary-single-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LocationSummary-single-stat h5 {
  font-size: 1em;
  font-weight: 700;
}

.LocationSummary-single-stat p {
  font-size: 1.5em;
}

@media (max-width: 750px) {
  .LocationSummary-single-stat-container {
    min-width: 150px;
  }
}
