.AlertsList-container {
  border-top: 1px solid black;
}

.AlertsList-titles {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.AlertsList-locationtitle, .AlertsList-crimetitle, .AlertsList-distancetitle, .AlertsList-deletetitle {
  display: flex;
  justify-content: center;
}

.AlertsList-locationtitle {
  width: 20%;
}

.AlertsList-crimetitle {
  width: 40%;
}

.AlertsList-distancetitle {
  width: 20%;
}

.AlertsList-deletetitle {
  width: 20%;
}

.Alerts {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.AlertsList-locationtype {
  display: flex;
  justify-content: center;
  width: 20%;
}

.AlertsList-offensename {
  display: flex;
  justify-content: center;
  width: 40%;
}

.AlertsList-range {
  display: flex;
  justify-content: center;
  width: 20%;
}

.AlertsList-deletealert {
  display: flex;
  justify-content: center;
  width: 20%;
}
