.AlertsList-container {
  border-top: 1px solid black;
}

.AlertsList-titles {
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.AlertsList-locationtitle, .AlertsList-crimetitle, .AlertsList-distancetitle, .AlertsList-deletetitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AlertsList-locationtitle {
  width: 20%;
}

.AlertsList-crimetitle {
  width: 35%;
}

.AlertsList-distancetitle {
  width: 25%;
}

.AlertsList-deletetitle {
  width: 15%;
}

.Alerts {
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

.AlertsList-locationtype {
  display: flex;
  justify-content: center;
  width: 20%;
}

.AlertsList-offensename {
  display: flex;
  justify-content: center;
  width: 35%;
}

.AlertsList-range {
  display: flex;
  justify-content: center;
  width: 25%;
}

.AlertsList-deletealert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.AlertsList-delete-btn {
  height: 75%;
  border: 1px solid #BEC2BE;
  padding: 2px 12px;
  background-color: #E9EDE9;
  border-radius: 5px;
  line-height: 75%;
  font-size: 1.25em;
  font-family: 'Bree Serif';
  color: #FF311F;
}

.AlertsList-delete-btn:hover {
  background-color: #FF311F;
  color: white;
}
