@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.Dashboard-container {
  height: 100vh;
  font-family: 'Raleway';
}

.Dashboard-nav-container {
  height: 8vh;
  width: 100vw;
}

.Dashboard-main-container {
  display: flex;
  background-color: #EDE9ED;
}

.Dashboard-features-container {
  width: 63vw;
}

.Dashboard-map-container {
  height: 75vh;
  width: 100%;
  position: relative;
  border-right: 1px solid #4C4B4C;
  border-bottom: 1px solid #4C4B4C;
}

.Dashboard-tools-container {
  width: 37vw;
  padding: 20px;
  box-sizing: border-box;
}

.Dashboard-tools-newlocation {
  width: 100%;
  margin-bottom: 3%;
}

.Dashboard-tools-reportinfo {
  width: 100%;
  margin-bottom: 3%;
}

.Dashboard-tools-offensetype {
  width: 100%;
  margin-bottom: 3%;
}

.Dashboard-tools-reportinfo h4, .Dashboard-tools-reportinfo p, .Dashboard-tools-reportinfo h3 {
  margin: 0;
}

.Dashboard-location-summary-container {
  /*height: 30vh;*/
  min-height: 17vh;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
