.Dashboard-container {
  height: 100vh;
}

.Dashboard-main-container {
  height: 80vh;
  display: flex;
}

.Dashboard-map-container {
  height: 100%;
  width: 70vw;
}

.Dashboard-tools-container {
  height: 100%;
  width: 30vw;
}
