.LocationList-container {
  border-top: 1px solid black;
}

.LocationList-titles {
  display: flex;
}

.LocationList-locationtitle, .LocationList-addresstitle, .LocationList-deletetitle {
  display: flex;
  justify-content: center;
}

.LocationList-locationtitle {
  width: 20%;
}

.LocationList-addresstitle {
  width: 60%;
}

.LocationList-deletetitle {
  width: 20%;
}

.Location {
  display: flex;
}

.Location-name {
  display: flex;
  justify-content: center;
  width: 20%;
}

.Location-address {
  display: flex;
  justify-content: center;
  width: 60%;
}

.Location-deletelocation {
  display: flex;
  justify-content: center;
  width: 20%;
}
