.LocationList-container {
  border-top: 1px solid black;
}

.LocationList-titles {
  display: flex;
}

.LocationList-locationtitle, .LocationList-addresstitle, .LocationList-deletetitle {
  display: flex;
  justify-content: center;
}

.LocationList-locationtitle {
  width: 15%;
}

.LocationList-addresstitle {
  width: 60%;
}

.LocationList-deletetitle {
  width: 20%;
}

.Location {
  display: flex;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.Location-name {
  display: flex;
  justify-content: center;
  width: 15%;
}

.Location-address {
  display: flex;
  justify-content: center;
  width: 60%;
}

.Location-deletelocation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.LocationList-delete-btn {
  /*height: 75%;*/
  border: 1px solid #BEC2BE;
  padding: 10px 12px;
  background-color: #E9EDE9;
  border-radius: 5px;
  line-height: 75%;
  font-size: 1.25em;
  font-family: 'Bree Serif';
  color: #FF311F;
}

.LocationList-delete-btn:hover {
  background-color: #FF311F;
  color: white;
  cursor: pointer;
}

@media (max-width: 750px) {
  .LocationList-locationtitle {
    width: 25%;
  }

  .LocationList-addresstitle {
    width: 45%;
  }

  .LocationList-deletetitle {
    width: 30%;
  }

  .Location-name {
    width: 25%;
  }

  .Location-address {
    width: 45%;
  }

  .Location-deletelocation {
    width: 30%;
  }
}
