.Login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-form {
  height: 50%;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Login-input-container {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 40%;
}
