.Nav-container {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #2B2B2B;
}

.Nav-title {
  font-weight: 700;
  color: white;
  padding: 5px;
  margin: 0;
}

.Nav-btn-container {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.Nav-btn {
  padding: 8px 15px;
  background-color: #CC3527;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  margin-right: 10px;
}

.Nav-btn:hover {
  cursor: pointer;
}

.Nav-Alerts-btn {
  background-color: #CC3527;
}

.Nav-Alerts-btn:hover {
  background-color: #A32A1F;
}

.Nav-Dashboard-btn {
  background-color: #313DE3;
}

.Nav-Dashboard-btn:hover {
  background-color: #202896;
}

.Nav-Login-btn {
  background-color: #FADE28;
}

.Nav-Login-btn:hover {
  background-color: #CCB521;
}

.Nav-Signup-btn {
  background-color: #25D63C;
}

.Nav-Signup-btn:hover {
  background-color: #1EAD31;
}

.Nav-Signout-btn {
  background-color: #8A9296;
  color: white;
}

.Nav-Signout-btn:hover {
  background-color: #676D70;
}
