@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

.Nav-container {
  padding: 10px 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #2B2B2B;
}

.Nav-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav-title {
  font-weight: 700;
  color: white;
  font-size: 1.75em;
  margin: 0;
  font-family: 'News Cycle';
  padding: 0 5px;
}

.Nav-title-icon {
  font-size: 2em;
  color: #FDBC1D;
  padding: 0 5px;
}

.Nav-btn-container {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.Nav-btn {
  padding: 8px 15px;
  font-family: 'Bree Serif';
  background-color: #CC3527;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  margin-right: 10px;
}

.Nav-btn:hover {
  background-color: #9C281E;
  cursor: pointer;
}

.Nav-Alerts-btn {
  background-color: #CC3527;
}

.Nav-Alerts-btn:hover {
  background-color: #A32A1F;
}

.Nav-Map-btn {
  background-color: #3676FB;
}

.Nav-Map-btn:hover {
  background-color: #202896;
}

.Nav-Signout-btn {
  background-color: #8A9296;
  color: white;
}

.Nav-Signout-btn:hover {
  background-color: #676D70;
}

.Nav-btn-response {
  display: none;
}

@media (max-width: 750px) {
  .Nav-container {
    justify-content: flex-start;
  }

  .Nav-btn {
    font-size: 15px;
    margin-right: 5px;
    padding: 6px 10px;
  }

  .Nav-title-container {
    margin-left: 5px;
  }
}
